body {
  background: #BDECFF;
  width: 90%;
  max-width: 1000px;
}

#todoapp h1 {
  font-size: 90px;
}

.todos {

  width: 47%;

  &.left {
    left: 0;
    left: auto;
    float: left;
  }

  &.right {
    right: 0;
    left: auto;
    float: right;
  }

  .todo-add-random {
    text-align: right;
    padding: 2px;
    border-bottom: 1px solid #E6E6E6;
    color: rgb(119, 119, 119);

    input {
      border: 1px solid #E6E6E6;
      text-align: right;
    }
  }

}

